
= bootstrap_form_tag url: '/ncaaf', method: 'get' do |f|
  -# = f.date_select :start_date, input_html: { class: "daterange" }, as: :string
  = f.select(:game_filter, [['Live', 'not_over'], ["Upcoming", 'not_over'], ["Historical", 'game_over'], ['Past Winning Best Bets', :all_correct_spread_best_bets]], selected: @game_filter)
  = f.select(:sport_filter, [['All', 'all'],['NFL', 'nfl'], ["NCAAF", 'ncaaf']], selected: @sport_filter)
  = f.submit 'Filter'

  = render "game_table_header"
%table.table
  %thead
    %tr
      %th.center-text{:scope => "col"} Team/Line
      %th
      %th.center-text{:scope => "col"} Time
      %th.center-text{:scope => "col"} Pick
      %th.center-text{:scope => "col"} Strength
      %th.center-text{:scope => "col"} Predicted Line
      %th.center-text{:scope => "col"} Contrarian
      %th.center-text{:scope => "col"} Best Bet
      %th.center-text{:scope => "col"} RLM
      %th.center-text{:scope => "col"} Public Money %
      %th.center-text{:scope => "col"} Correct Pick?
    %tbody
    - @games.order(:time).each do |game|
      - next if game.home_team_abbr.nil?

      %tr.top-border
        -# Name
        %th.center-text{:scope => "row"}= game.away_team_name + " #{game.away_team_vegas_line}"

        -# Logo
        %td.logo.center-text
          = image_tag(game.away_team_logo, :class => [game.away_team_logo.include?('alternate') && 'alt-image'])

        -# Time
        %td.center-text= game.time

        -# Team to bet
        - if game.away_team_name == game.team_to_bet
          %td.center-text= fa_icon 'check 2x'
        - else
          %td


        -# Bet strength
        - if game.away_team_name == game.team_to_bet
          %td.center-text= game.strength
        - else
          %td

        -# Expected Score
        %td.center-text
          #{game.away_team_massey_line}

        -# Contrarian Pick
        - if game.away_team_spread_percent.to_f < 35
          %td.center-text= fa_icon 'eye-slash 2x'
        - else
          %td

        -# Best bet
        - if  game.best_bet && game.team_to_bet == game.away_team_name
          %td.center-text= fa_icon "lock 2x"
        - else
          %td

        -# RLM
        - if game.away_rlm && game.away_rlm.to_i > 0
          %td.center-text= fa_icon 'balance-scale 2x'
        -else
          %td

        -# Public percentage
        - if game.away_team_spread_percent.to_f > 50
          %td.center-text.container
            .skills.html.round{:style => "--width: #{game.away_team_spread_percent}%;"}= "#{game.away_team_spread_percent}%"
        - else
          %td
        -# Correct Pick
        %td


      %tr.bottom-border
        -# Name
        %th.center-text{:scope => "row"}= game.home_team_name  + " #{game.home_team_vegas_line}"

        -# Logo
        %td.logo.center-text
          = image_tag(game.home_team_logo, :class => [game.home_team_logo.include?('alternate') && 'alt-image'])

        -# Time
        %td.center-text= game.time

        -# Team to bet
        - if game.home_team_name == game.team_to_bet
          %td.center-text= fa_icon 'check 2x'
        - else
          %td

        -# Bet strength
        - if game.home_team_name == game.team_to_bet
          %td.center-text= game.strength
        - else
          %td

        -# Expected Score
        %td.center-text
          #{game.home_team_massey_line}
          %br/
          %br/
          Line Diff: #{game.line_diff}

        -# Contrarian Pick
        - if game.home_team_spread_percent.to_f < 35
          %td.center-text= fa_icon 'eye-slash 2x'
        - else
          %td

        -# Best bet
        - if  game.best_bet && game.team_to_bet == game.home_team_name
          %td.center-text= fa_icon "lock 2x"
        - else
          %td

        -# RLM
        - if game.home_rlm && game.home_rlm.to_i > 0
          %td.center-text= fa_icon 'balance-scale 2x'
        -else
          %td

        -#  Public percentage
        - if game.home_team_spread_percent.to_f > 50
          %td.center-text.container
            .skills.html.round{:style => "--width: #{game.home_team_spread_percent}%;"}= "#{game.home_team_spread_percent}%"
        - else
          %td

        -# Correct Pick
        - if (game.game_over && game.correct_prediction)
          %td.center-text= fa_icon "check 2x"
        - else
          %td.center-text= fa_icon "times 2x"
