.home
  %h1.white.big-font.center.iamhuge Check The Lines

  .row.custom-home-row
    .col-sm-6.circles
      =image_tag "http://image.flaticon.com/icons/svg/182/182146.svg", class: "quarter-width center-all"
      .center.center= link_to "This Weeks Best Bets", best_bets_games_path, class: "alt-font white links"

    .col-sm-6.circles
      = image_tag "http://image.flaticon.com/icons/svg/181/181910.svg", class: "quarter-width center-all"
      .center= link_to "Past Best Bets", old_best_bets_games_path, class: "alt-font white links"
    .col-sm-6.circles
      =image_tag "http://image.flaticon.com/icons/svg/127/127963.svg", class: "quarter-width center-all"
      .center= link_to "Past Data", played_games_path, class: "alt-font white links"
    .col-sm-6.circles
      =image_tag "http://image.flaticon.com/icons/svg/149/149215.svg", class: "quarter-width center-all"
      .center= link_to "This Weeks Data", unplayed_games_path, class: "alt-font white links"

  .row.custom-home-row
    .col-sm-6.offset-sm-3
      = image_tag "http://image.flaticon.com/icons/svg/149/149150.svg", class: "quarter-width center-all"
      .center= link_to "About Scoring", pages_about_path, class: "alt-font white links"



