.center.jumbotron.margin-bottom
  %h2= "#{game.away_team_name} @ #{game.home_team_name}"
  -# %h4= "#{game.time}"
  %table.table.table-striped
    %tr
      %th.center-text Day
      %th.center-text Pick
      %th.center-text Strength
      %th.center-text Sport
    %tbody
      %tr
        %td= game.date
        %td= team_to_bet_name_and_line(game)
        %td= "#{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
        %td= game.sport
  -if game.game_over
    %table.table.table-striped
      %tr
        %th.center-text= game.away_team_name
        %th.center-text= game.home_team_name
        %th.center-text Prediction Correct?
      %tbody
        %tr
          %td= game.away_team_final_score
          %td= game.home_team_final_score
          -if game.correct_over_under_prediction
            %td.success Correct
          -else
            %td Incorrect
