%h1.big-font.white.center Past Picks
%row.custom-home-row
  .small-6.columns.white.small-offset-3
    %h2.seconday-font.center
      Overall Record
    %h1.secondary-font.center
      Correct: #{Game.all.over_under_best_bets.where(game_over: true).where(correct_over_under_prediction: true).count}
      Incorrect: #{Game.all.over_under_best_bets.where(game_over: true).where(correct_over_under_prediction: false).count}

%h1.center.big-font Past Best Bets

-@old_games.sort_by{|game| game.over_under_strength }.reverse.each do |game|
  .large-3-columns.center.callout.half-width.margin-bottom{:class => [("success" if game.correct_over_under_prediction == true),('alert' unless game.correct_over_under_prediction)]}
    %h1.alt-font= "#{game.away_team_name} #{game.home_team_name}"

    %h3.secondary-font
      Pick:
      .bold="#{game.over_under_pick} #{game.vegas_over_under}"
    %h3.header-font= "Strength: #{game.over_under_strength}"
    - if game.game_over
      %h3= "Final Score:"
      %h3= "#{game.away_team_name}: #{game.away_team_final_score} #{game.home_team_name}: #{game.home_team_final_score}"
      - if game.correct_over_under_prediction
        %h2 "Correct"
      -else
        %h2 "Incorrect"

%table.table.striped
  %thead
    %tr
      %th Week ID
      %th Away Team
      %th Home Team
      %th Strength
      %th Side to Bet
      %th Point Differential
      %th Public % on Massey O/U
      %th Correct
  %tbody
    - @old_games.sort_by{|game| game.strength }.reverse.each do |game|
      %tr
        %td= game.week_id
        %td= "#{game.away_team_name}: #{game.away_team_final_score}"
        %td= "#{game.home_team_name}: #{game.home_team_final_score}"
        %td= game.over_under_strength
        %td= game.team_to_bet
        %td= game.over_under_diff
        %td= game.public_percentage_massey_over_under
        - if game.game_over
          %td= game.correct_over_under_prediction
        - else
          %td Game unplayed
