%h1.big-font.center Past Picks
.small-4.small-offset-4
  %p.callout.center To filter by 'Strength' enter a number here to only show results of games that scored above that number
  = form_tag old_best_bets_games_path, :method => 'get' do
    %p
      = number_field_tag :search, params[:search], placeholder: "Strength", class: "center form-width-25"
      = submit_tag "Search", :name => nil, class: "button strength-button"

%row.custom-home-row
  .small-6.columns.small-offset-3.border
    %h2.seconday-font.center
      = link_to "Overall NCAAF Record", "#ncaaf"
    %h1.secondary-font.center
      Correct: #{@old_games.where(sport: "ncaa_football").where(correct_prediction: true).count}
      Incorrect: #{@old_games.where(sport: "ncaa_football").where(correct_prediction: false).count}

  .small-6.columns.small-offset-3.border
    %h2.seconday-font.center
      = link_to "Overall NFL Record", "#nfl"
    %h1.secondary-font.center
      Correct: #{@old_games.where(sport: "nfl").where(correct_prediction: true).count}
      Incorrect: #{@old_games.where(sport: "nfl").where(correct_prediction: false).count}

  .small-6.columns.small-offset-3.border
    %h2.seconday-font.center
      = link_to "Overall NBA Record", "#nba"
    %h1.secondary-font.center
      Correct: #{@old_games.where(sport: "nba").where(correct_prediction: true).count}
      Incorrect: #{@old_games.where(sport: "nba").where(correct_prediction: false).count}


  .small-6.columns.small-offset-3.border
    %h2.seconday-font.center
      = link_to "Overall NCAAB Record", "#ncaab"
    %h1.secondary-font.center
      Correct: #{@old_games.where(sport: "ncaa_basketball").where(correct_prediction: true).count}
      Incorrect: #{@old_games.where(sport: "ncaa_basketball").where(correct_prediction: false).count}

  .small-6.columns.small-offset-3.border
    %h2.seconday-font.center
      Total Record
    %h1.secondary-font.center
      Correct: #{@old_games.where(correct_prediction: true).count}
      Incorrect: #{@old_games.where(correct_prediction: false).count}

  
  .small-6.columns.small-offset-3

%h1.clear.center.big-font#ncaaf NCAA Football Record

-@old_games.where(sport: "ncaa_football").sort_by{|game| game.strength }.reverse.each do |game|
  .large-3-columns.center.callout.half-width.margin-bottom{:class => [("success" if game.correct_prediction == true),('alert' unless game.correct_prediction)]}
    %h1.alt-font= "#{game.away_team_name} #{game.home_team_name}"
    %h3.header-font
      Date:
      = game.date

    %h3.header-font
      Pick:
      = team_to_bet_name_and_line(game)
    %h3.header-font
      Sport:
      = game.sport
    %h3.header-font= "Strength: #{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
    - if game.game_over
      %h3= "Final Score:"
      %h3= "#{game.away_team_name}: #{game.away_team_final_score} #{game.home_team_name}: #{game.home_team_final_score}"
      - if game.correct_prediction
        %h2 "Correct"
      -else
        %h2 "Incorrect"


%h1.clear.center.big-font#ncaab NCAA Basketball Record

-@old_games.where(sport: "ncaa_basketball").sort_by{|game| game.strength }.reverse.each do |game|
  .large-3-columns.center.callout.half-width.margin-bottom{:class => [("success" if game.correct_prediction == true),('alert' unless game.correct_prediction)]}
    %h1.alt-font= "#{game.away_team_name} #{game.home_team_name}"
    %h3.header-font
      Date:
      = game.date
    %h3.header-font
      Pick:
      = team_to_bet_name_and_line(game)
    %h3.header-font
      Sport:
      = game.sport
    %h3.header-font= "Strength: #{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
    - if game.game_over
      %h3= "Final Score:"
      %h3= "#{game.away_team_name}: #{game.away_team_final_score} #{game.home_team_name}: #{game.home_team_final_score}"
      - if game.correct_prediction
        %h2 "Correct"
      -else
        %h2 "Incorrect"


%h1.clear.center.big-font#nfl NFL Record

-@old_games.where(sport: "nfl").sort_by{|game| game.strength }.reverse.each do |game|
  .large-3-columns.center.callout.half-width.margin-bottom{:class => [("success" if game.correct_prediction == true),('alert' unless game.correct_prediction)]}
    %h1.alt-font= "#{game.away_team_name} #{game.home_team_name}"
    %h3.header-font
      Date:
      = game.date
    %h3.header-font
      Pick:
      = team_to_bet_name_and_line(game)
    %h3.header-font
      Sport:
      = game.sport
    %h3.header-font= "Strength: #{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
    - if game.game_over
      %h3= "Final Score:"
      %h3= "#{game.away_team_name}: #{game.away_team_final_score} #{game.home_team_name}: #{game.home_team_final_score}"
      - if game.correct_prediction
        %h2 "Correct"
      -else
        %h2 "Incorrect"


%h1.clear.center.big-font#nba NBA Record

-@old_games.where(sport: "nba").sort_by{|game| game.strength }.reverse.each do |game|
  .large-3-columns.center.callout.half-width.margin-bottom{:class => [("success" if game.correct_prediction == true),('alert' unless game.correct_prediction)]}
    %h1.alt-font= "#{game.away_team_name} #{game.home_team_name}"
    %h3.header-font
      Date:
      = game.date
    %h3.header-font
      Pick:
      = team_to_bet_name_and_line(game)
    %h3.header-font
      Sport:
      = game.sport
    %h3.header-font= "Strength: #{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
    - if game.game_over
      %h3= "Final Score:"
      %h3= "#{game.away_team_name}: #{game.away_team_final_score} #{game.home_team_name}: #{game.home_team_final_score}"
      - if game.correct_prediction
        %h2 "Correct"
      -else
        %h2 "Incorrect"

%table.table.striped
  %thead
    %tr
      %th Week ID
      %th Away Team
      %th Home Team
      %th Strength
      %th Team To Bet
      %th Point Differential
      %th Public % on Massey Team
      %th Correct
  %tbody
    - @old_games.sort_by{|game| game.strength }.reverse.each do |game|
      %tr
        %td= game.week_id
        %td= "#{game.away_team_name}: #{game.away_team_final_score}"
        %td= "#{game.home_team_name}: #{game.home_team_final_score}"
        %td= "#{(game.line_diff * 100 / game.public_percentage_on_massey_team).round(2)}"
        %td= game.team_to_bet
        %td= game.line_diff
        %td= game.public_percentage_on_massey_team
        - if game.game_over
          %td= game.correct_prediction
        - else
          %td Game unplayed
