%h1.center NCAA Results
%table.table.striped.white-table
  %thead
    %tr
      %th Date
      %th Best Bet?
      %th Away Team
      %th Home Team
      %th Team To Bet
      %th Score
      %th Point Differential
      %th Public % on Massey Team
      %th Correct Prediction
      %th Strength
  %tbody
    - @games.sort_by{|game| game.date }.reverse.each do |game|
      %tr
        %td= game.date
        %td= game.best_bet
        %td= "#{game.away_team_name}: #{game.away_team_final_score}"
        %td= "#{game.home_team_name}: #{game.home_team_final_score}"
        %td= game.team_to_bet
        %td= game.strength
        %td= game.line_diff
        %td= game.public_percentage_on_massey_team
        %td= game.correct_prediction
        %td= game.strength

