!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CheckTheLines
    %meta{:content => "Uses analytics and public betting percentages to make sports picks against the spread.", :name => "description"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0", :name => "viewport"}/
    %meta{:content => "sports gambling betting sportsbook", :name => "keywords"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Hairline|Inconsolata|Open+Sans+Condensed:300|Proza+Libre|Russo+One", :rel => "stylesheet"}/
    %link{:href => "assets/images/favicon.png", :rel => "shortcut icon"}/




    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :css
      .top-bar{
          background-color: #FFFFFF;
          border-bottom: 2px solid black;
      }
      .top-bar, .top-bar ul {
          background-color: #FFFFFF;
      }
  = render "layouts/navbar"
  %body
    .container
      = yield

    = render partial: "partials/google_analytics"
