!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CheckTheLines
    %link{:href => "https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Hairline|Inconsolata|Open+Sans+Condensed:300|Proza+Libre", :rel => "stylesheet"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      = yield

    = render partial: "partials/google_analytics"
