!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CheckTheLines
    %link{:href => "https://fonts.googleapis.com/css?family=Amatic+SC|Bungee+Hairline|Inconsolata|Open+Sans+Condensed:300|Proza+Libre|Russo+One", :rel => "stylesheet"}/



    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    :css
      .top-bar{
          background-color: #FFFFFF;
          border-bottom: 2px solid black;
      }
      .top-bar, .top-bar ul {
          background-color: #FFFFFF;
      }
  %body
    - flash.each do |key, value|
      .alert-box{"data-alert" => ""}
        = value
        %a.close{:href => "#"} ×
    %nav#nav-menu.top-bar.custom
      %ul.vertical.medium-horizontal.menu
        %li
          =link_to "Home", root_path
      / Right Nav Section
      .top-bar-right
        %ul.vertical.medium-horizontal.menu
          %li.divider
          -# %li.hide-for-small-only
          -#   = link_to "Refresh Account Information", "/auth/twitter"
          %li.divider
          %li.hide-for-small-only
    .container
      = yield

    = render partial: "partials/google_analytics"
